/* CSS file for estilos.css */
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}

#logo h1{
    color: #fff;
    display: inline;
}

#logo h1 a{
    color: #fff;
    text-decoration: none;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
    display: inline-block;
}

#nav{
    display: flex;
    width: 100%;
}

#navbar-top ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

#navbar-top ul li{
    display: inline-flex;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
}

.container {
    width: 100%;
    margin: 0 auto;
}

#banner{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    display: inline-block;
    color: #fff;
    text-align: center;
    background-color: #ccc;
}

#banner h2{
    display: flex;
    font-size: 2.6rem;
    color: black;
    justify-content: center;
}

#banner p{
    display: block;
    font-size: 1.2em;
    color: black;
}

#productos{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

ju{
    text-align: left;
    margin-bottom: 20px;
    font-size: 1.9rem;
}

.product{
    width: 500px;
    padding: 0 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.product h3 {
    font-size: 1.4rem;
}

.product-image{
    width: 100%;
    height: 320px;
    background-color: #cccccc;
}

.product p{
    font-size: 1rem;
    margin: 0;
    width: 80%;
    text-align: justify;
}