/* CSS file for estilos.css */
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}

#logo h1{
    color: #fff;
    display: inline;
}

#logo h1 a{
    color: #fff;
    text-decoration: none;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
    display: inline-block;
}

#nav{
    display: flex;
    width: 100%;
}

#navbar-top ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

#navbar-top ul li{
    display: inline-flex;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
}

.container{
    width: 90%;
    margin: 0 auto;
}

#banner{
    background-image: url('https://dummyimage.com/on/600x400/000fff&text=.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

#banner h2{
    display: block;
    font-size: 2em;
    color: black;
}

#banner p{
    display: block;
    font-size: 1.2em;
    color: black;
}

#productos{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.product{
    width: 45%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.product-image{
    width: 300px;
    height: 290px;
    background-color: #cccccc;
}

.product p{
    font-size: 1.2em;
    margin: 0;
    width: 55%;
    text-align: justify;
}