.sidebar-col {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  left: 20px;
  margin-top: -0.8vh;
  max-width: 250px; 
  padding: 5px; 
  width: 100%;
}

.sidebar-button-container { 
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.sidebar-button.btn, .btn-light {
  justify-content: flex-start;
  text-align: left;
}

.sidebar-button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 8px;
  color: #1A4756;
  display: flex;
  gap: 10px;
  margin: 20px 0;
  transition: background-color  0.3s, color 0.3s;
  width: 100%;
} 

.sidebar-button.selected {
  background-color: #DCE2D3;
  border-color: #DCE2D3;
  color: #1A4756;
}

.sidebar-button.btn.btn-light:hover {
  background-color: #DCE2D3;
  border-color: #DCE2D3 ;
  color: #1A4756;
}

.textfontsidebar {
  font-weight: 500;
}
