/* Catalog Page */

.catalog-container {
  padding: 20px;
}

.catalog-container h1 {
  color: #333;
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: center;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; 
  justify-content: center;
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 300px;
}

.product-card:hover {
  box-shadow: 0 6px 12px rgb(0 0 0 / 20%);
  transform: translateY(-5px);
}

.product-image {
  background-color: #ccc;
  border-bottom: 1px solid #ddd;
  height: 320px;
  object-fit: cover;
  width: 100%;
}

.product-card h3 {
  color: #333;
  font-size: 1.2rem;
  margin: 10px;
}

.product-card button { 
  align-self: center;
  background-color: #3b3b3b;
  border: none;
  border-radius: 5px; 
  color: white;
  cursor: pointer; 
  font-size: 1rem;
  margin: 10px;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.product-card button:hover {
  background-color: #565656; 
  color: #fff; 
  cursor: pointer; 
}

.back-to-catalog-button {
  background-color: #3b3b3b;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  padding: 10px;
  position: absolute;
  text-decoration: none;
  top: 130px;
  transition: background-color 0.3s, color 0.3s;
  
}

.back-to-catalog-button:hover {
  background-color: #565656; 
  color: #fff; 
  cursor: pointer;
}

.catalog-banner {
    align-items: center; 
    background-image: url("/src/assets/PLANTAI_Planta_Group_09.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
    display: flex;
    height: 350px;
    justify-content: center;
    margin: 150px 0 0;
    width: 100%;
}

/* Estilos generales para la paginación */

.pagination-container {
    align-items: center;
}

.pagination-container .page-item {
    margin: 0 5px;
}

.pagination-container .page-link {
    border: 1px white;
    color: black;
}

.pagination-container .page-link:hover {
    background-color: var(--main-bg-color);
    border-radius: 3px;
    color: white;
}

.pagination-container .page-item.active .page-link {
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 3px;
    color: white;
    font-size: large;
    font-weight: bold;
    height: 39px;
}

.pagination-container .page-item:first-child .page-link,
.pagination-container .page-item:last-child .page-link {
    background-color: #466A76;
}

.pagination-container .page-item:first-child .page-link:hover,
.pagination-container .page-item:last-child .page-link:hover {
    background-color: var(--main-bg-color);
}


/* Estilos para el selector de cantidad de productos por página */
.show-products-selector a {
    color: var(--main-bg-color);
    cursor: pointer;
    font-weight: normal;
    margin-right: 5px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.page-item:last-child .page-link {
    border-bottom-right-radius: var(--bs-pagination-border-radius);
    border-top-right-radius: var(--bs-pagination-border-radius);
}

.show-products-selector a:hover {
    color: #FF8C30;
}

/* Estilo para el contenedor del botón del carrito */
.cart-button-container {
    bottom: 10px;
    position: absolute;
    right: 10px;
}

#custom-cart-button {
    border-radius: 8px;
    height: 32px !important;
    padding: 8px;
    width: 32px;
}

#image-text {
    color: #1A4756;
    font-size: 22px;
    font-weight: bold;
}

.description-text {
    font-size: 24px;
}


/* Estilo para la tarjeta del producto */
.card-products-container {           
  background-color: lightgray;              
  flex-shrink: 0;
  height: 270px !important;                   
  object-fit: cover;
  width: 230px; 
}

.card-products-container {
  transition: transform 0.3s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover .card-products-container {
  transform: scale(1.1);
}

.card {
  overflow: hidden;
}

  
  .description-text {
    color: #555;
    font-size: 1em;
  }
  
  .price-text {
    color: #1A4756;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .error-message {
    bottom: 40px;
    color: red;
    font-size: 0.8em;
    left: -65px;
    position: relative;
  }

  .col {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100%;
  }
  
  .contenedordeTituloyDescripcion{
    height: 46px ;
  }

  .loading-container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
  }

  .loading-spinner {
    opacity: 1;
    transition: opacity 0.5s ease-out;
  }
  
  .loading-container.loading-finished .loading-spinner {
    opacity: 0;
  }

.fw-bold {
  color:#FF8C30;
}

