.checkout-container {
  max-width: 800px;
  margin: 10rem auto 4rem;
  padding: 2rem;
  background-color: white;
  }
  
  .checkout-section {
    margin-bottom: 2rem;
    width: 600px;
    padding: 1rem;
    background-color: #f8f9fa;
    border-radius: 8px;
  }
  
  .checkout-section h2 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #1A4756;
  }
  
  .form-label {
    font-weight: 500;
    color: #212529;
  }
  
  .form-control, .form-select {
    background-color: white!important;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 0.5rem;
  }
  
  .form-check {
    margin-bottom: 1rem;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  
  .button-container button {
    width: 200px;
    padding: 0.75rem;
  }