.bi {
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

/*
 * Sidebar
 */

@media (width >= 768px) {
  .sidebar .offcanvas-lg {
    position: sticky;
    top: 48px;
  }

  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  background-color: rgb(0 0 0 / 25%);
  box-shadow: inset -1px 0 0 rgb(0 0 0 / 25%);
  padding-bottom: .75rem;
  padding-top: .75rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}
