/* CSS file for estilos.css */

@import url('./variables.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Quicksand:wght@400;500;700&display=swap');


#root{
  margin: 0 auto;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  width: 1440px;
  border: 1px solid #cccccc;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 0 0;
  color: black;
  margin-bottom: -10px;
  background-color: var(--main-bg-color);
  height: 62px;
}

.navbar-brand {
  background-image: url("/src/assets/LOGO_PLANTAI.png");
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center; 
  display: block; 
  width: 99px;
  height: 100px;
}

nav.navbar-nav, .nav-link, nav.navbar-nav a, nav.navbar-nav a:active, nav.navbar-nav a:visited, nav.navbar-nav a:hover, nav.navbar-nav a:focus, nav.navbar-nav a:link {
  color: white!important;
}

#nav{
  display: flex;
  width: 100%;
}

form#search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

nav#navbar-top {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 8px;
  left: 240px;
}

#navbar-top ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
}

#navbar-top ul li{
  display: inline-flex;
  margin-right: 10px;
  text-decoration: none;
  color: black;
  padding: 0 12px;
}

#navbar-top ul li a{
  text-decoration: none;
  color: black;
}

#navbar-top ul li a{
  text-decoration: none;
  color: black;
}

.search-form-input {
  border: 1px solid #cccccc;
  border-radius: 16px;
  padding: 8px;
  width: 200px;
  position: relative;
  left: 100px;
}

.container {
  width: 100%;
  /* margin: 20px auto 0; */
}

#productos{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.product{
  width: 380px;
  padding: 0 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 0px -55px;
}

.product h3 {
  font-size: 1.4rem;
  padding: 0;
  margin: 20px 10px -10px 18px;
}

.product-image{
  width: 100%;
  height: 320px;
  background-color: #cccccc;
}

.product p{
  font-size: 1rem;
  margin-left: 18px;
  font-weight: bold;
}

.user-avatar{
  width: 44px;
  height: 40px;
  border-radius: 50%;
  background-color: #cccccc;
  float: left;
  display: flex;
  margin: 10px;
}

button {
  background-color: #000;
  border-radius: 6px;
  color: white;
  padding: 10px;
  border: none;
  font-size: 1rem;
}

button a {
  color: white;
  text-decoration: none;
}

#tips{
  display: flex;
  justify-content: center;
  width: 100%;
}

.tip{
  width: 530px;
  padding: 20px 34px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 22px;
}

.img-tip {
  width: 100px;
  height: 100px;
  background-color: #cccccc;
  display: flex;
  flex-direction: column;
  float: left;
}

.subscribe {
  margin-right: 40px;

}

#search-form ul li {
  list-style: none;
  text-decoration: none;
}

#login ul {
  list-style: none;
  position: relative;
  right: 40px;
  bottom: 8px;
}

#login ul li a {
  text-decoration: none;
  
  color: black;
  font-weight: bold;
}

#search-form {
  position: relative;
  bottom: 8px;
  z-index: -2;
}

i.fas.fa-search {
  position: relative;
  z-index: 999;
  left: 68px;
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/* Estilo general para el contenedor del catálogo */

.catalog-container {
  padding: 20px;
}

/* Estilo para el título del catálogo */
.catalog-container h1 {
  font-size: 2.5rem;
  margin-bottom: 40px; /* Ajusta este valor para cambiar la distancia */
  color: #333;
  text-align: center;
}

/* Estilo para la cuadrícula de productos */
.products-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; /* Ajusta este valor para cambiar la distancia entre las tarjetas */
  justify-content: center;
}

/* Estilo para cada tarjeta de producto */
.product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Efecto de hover para las tarjetas */
.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Estilo para las imágenes de placeholder */
.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

/* Estilo para el título dentro de la tarjeta */
.product-card h3 {
  font-size: 1.2rem;
  margin: 10px;
  color: #333;
}

/* Estilo para el botón de compra */
.product-card button {
  background-color: #3b3b3b; 
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer; 
  font-size: 1rem;
  margin: 10px;
  transition: background-color 0.3s, color 0.3s; 
  align-self: center;
}

/* Efecto de hover para el botón */
.product-card button:hover {
  background-color: #565656; 
  color: #ffffff; 
  cursor: pointer; 
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

/*Botón para volver a catálogo en detalle del producto*/

.back-to-catalog-button {
  position: absolute;
  top: 130px;
  padding-bottom: 10px;
  background-color: #3b3b3b;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 15px;
  transition: background-color 0.3s, color 0.3s;
  
}

.back-to-catalog-button:hover {
  background-color: #565656; 
  color: #ffffff; 
  cursor: pointer;
}

/*Estilos para la creación de producto*/

.Create-product-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.Create-product-container-divs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.Create-product-container-divs div {
  flex: 1 1 300px; 
  display: flex;
  flex-direction: column; 
}
.Create-product-container-divs label {
  margin-bottom: 5px; 
  font-weight: bold; 
}
.Create-product-container-inputs {
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 1rem; 
    transition: border-color 0.3s; 
}
.Create-product-containerbutton {
  background-color: black; 
  color: white; 
  padding: 10px 15px; 
  border: none; 
  border-radius: 4px; 
  font-size: 16px;
  cursor: pointer; 
  width: 100%;
  transition: background-color 0.3s; 
}

.Create-product-containerbutton:hover {
  background-color: grey; 
}

.Create-product-container-inputs-error {
  color: red;
  font-size: 0.9em;
}

/* Estilos para el botón del carrito *********************************************************************************/
.cart-button {
  display: inline-flex; 
  align-items: center; 
  padding: 10px 20px; 
  background-color: #007bff; 
  color: white; 
  text-decoration: none; 
  border-radius: 5px; 
  transition: background-color 0.3s; 
}

.cart-button:hover {
  background-color: #014fa2; 

}

/* Estilos para el contador de productos en el carrito */
.cart-count {
  background-color: rgb(240, 28, 28); 
  color: white; 
  border-radius: 50%; 
  padding: 5px 10px; 
  margin-left: 5px; 
  font-size: 14px; 
  position: absolute; 
}

/* FOOTER */

footer {
  position: relative;
  background: linear-gradient(to right, rgba(26, 71, 86, 1) 0%, rgba(26, 71, 86, 0) 100%), #1A4756;
  color: white; 
  overflow: hidden; 
  padding: 40px; 
  width: 1440px;
  height: 367px;
}

footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/pattern_footer.png");
  background-repeat: repeat;
  background-position: center; 
  opacity: 0.24; 
  z-index: 1; 
}

footer > * {
  position: relative;
  z-index: 2; 
}

.footer-logo {
  background-image: url("/src/assets/LOGO_PLANTAI.png");
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center; 
  display: block; 
  width: 99px;
  height: 100px;
  text-indent: -9999px; 
  overflow: hidden; 
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-subscription-text {
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-input {
  border-radius: 0;
}

.footer-button {
  background-color: white;
  color: #1A4756;
  border: none;
  padding: 8px 16px;
  font-weight: bold;
}

.footer-button:hover {
  background-color: #f8f9fa;
  color: #1A4756;
}

/* Social Icons */
.social-icons a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

/* BUTTONS */

/* Primary Button */
button.btn-primary {
  background-color: var(--primary-color);
  color: white;
  border-color: var(--primary-color);
}

button.btn-primary:hover {
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
}

button.btn-primary:active {
  background-color: var(--primary-active);
  border-color: var(--primary-active);
}

button.btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 148, 0.25); /* Adaptar al color del focus */
  border-color: var(--primary-focus);
}

button.btn-primary:disabled, 
button.btn-primary.disabled {
  background-color: var(--primary-disabled-bg);
  color: var(--primary-disabled-text);
  border-color: var(--primary-disabled-bg);
}

/* Secondary Button */
button.btn-secondary {
  background-color: var(--secondary-color);
  color: white;
  border-color: var(--secondary-color);
}

button.btn-secondary:hover {
  background-color: var(--secondary-hover);
  border-color: var(--secondary-hover);
}

button.btn-secondary:active {
  background-color: var(--secondary-active);
  border-color: var(--secondary-active);
}

button.btn-secondary:focus {
  box-shadow: 0 0 0 0.25rem rgba(20, 108, 74, 0.25); /* Adaptar al color del focus */
  border-color: var(--secondary-focus);
}

button.btn-secondary:disabled, 
button.btn-secondary.disabled {
  background-color: var(--primary-disabled-bg);
  color: var(--primary-disabled-text);
  border-color: var(--primary-disabled-bg);
}

/* Tertiary Button (Outline) */
button.btn-outline-primary {
  background-color: transparent;
  color: var(--tertiary-color);
  border-color: var(--tertiary-color);
}

button.btn-outline-primary:hover {
  background-color: var(--tertiary-hover-bg);
}

button.btn-outline-primary:active {
  background-color: var(--tertiary-active-bg);
}

button.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 148, 0.25); /* Adaptar al color del focus */
  border-color: var(--primary-focus);
}

button.btn-outline-primary:disabled, 
button.btn-outline-primary.disabled {
  background-color: var(--tertiary-disabled-bg);
  color: var(--primary-disabled-text);
  border-color: var(--tertiary-disabled-border);
}

/* Orange Button */
button.btn-orange {
  background-color: var(--orange-color);
  color: white;
  border-color: var(--orange-color);
}

button.btn-orange:hover {
  background-color: var(--orange-hover);
  border-color: var(--orange-hover);
}

button.btn-orange:active {
  background-color: var(--orange-active);
  border-color: var(--orange-active);
}

button.btn-orange:focus {
  box-shadow: 0 0 0 0.25rem rgba(227, 142, 36, 0.25); /* Adaptar al color del focus */
  border-color: var(--orange-hover);
}

button.btn-orange:disabled, 
button.btn-orange.disabled {
  background-color: var(--primary-disabled-bg);
  color: var(--primary-disabled-text);
  border-color: var(--primary-disabled-bg);
}

/* Gray Button */
button.btn-gray {
  background-color: var(--gray-color);
  color: white;
  border-color: var(--gray-color);
}

button.btn-gray:hover {
  background-color: var(--gray-hover);
  border-color: var(--gray-hover);
}

button.btn-gray:active {
  background-color: var(--gray-active);
  border-color: var(--gray-active);
}

button.btn-gray:focus {
  box-shadow: 0 0 0 0.25rem rgba(138, 153, 163, 0.25); /* Adaptar al color del focus */
  border-color: var(--gray-hover);
}

button.btn-gray:disabled, 
button.btn-gray.disabled {
  background-color: var(--primary-disabled-bg);
  color: var(--primary-disabled-text);
  border-color: var(--primary-disabled-bg);
}

.icon-white {
  font-family: 'Material Symbols Outlined';
  font-variation-settings: 'FILL' 1; 
  font-size: 30px; 
  color: white; 
}

/* Banner Home */

.home-banner,
.additional-banner {
  width: 100%; 
  display: flex; 
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Home Banner */
.home-banner {
  background-image: url('/src/assets/001_Plantai_Home_Featured.webp'); 
  height: 614px; 
  color: white; 
}

.home-banner-uno {
  background-image: url('/src/assets/Plantai_banner_02.webp'); 
  height: 240px; 
}

.home-banner-dos {
  background-image: url('/src/assets/Plantai_banner_01.webp'); 
  height: 240px; 
}

/* Tabs */

.custom-tabs .nav-link {
  background-color: white;
  color: #879DA5!important; 
  border: 1px solid transparent!important; 
  transition: all 0.3s ease-in-out;
}

.custom-tabs .nav-link.active {
  background-color: #F5F5F5!important; 
  color: #1A4756!important; 
  border-color: #F5F5F5!important; 
  text-decoration: underline;
  cursor: pointer;
}

ul.custom-tabs.mb-3.nav.nav-tabs {
  position: relative;
  bottom: 3.2rem;
  z-index: -2;
}











