@import url('./variables.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Quicksand:wght@400;500;700&display=swap');

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

p, h1, h2, h3, h4, h5, h6, li, a, input, button, span, select, option, strong, form {
  font-family: Quicksand;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

h4 {
  color: var(--tertiary-color)!important;
}

form#search-form {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.search-form-input {
  border: 1px solid #ccc;
  border-radius: 16px;
  left: 100px;
  padding: 8px;
  position: relative;
  width: 200px;
}

.container {
  width: 100%;
}

.vh-70 {
  height: 70vh!important;
}

#productos{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.product{
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 0 -55px;
  padding: 0 0 20px;
  width: 380px;
}

.product h3 {
  font-size: 1.4rem;
  margin: 20px 10px -10px 18px;
  padding: 0;
}

.product p{
  font-size: 1rem;
  font-weight: bold;
  margin-left: 18px;
}

button a {
  color: white;
  text-decoration: none;
}

#tips{
  display: flex;
  justify-content: center;
  width: 100%;
}

.tip{
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin: 22px;
  padding: 20px 34px;
  width: 530px;
}

.img-tip {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  float: left;
  height: 100px;
  width: 100px;
}

.subscribe {
  margin-right: 40px;

}

#search-form ul li {
  list-style: none;
  text-decoration: none;
}

#login ul {
  bottom: 8px;
  list-style: none;
  position: relative;
  right: 40px;
}

#login ul li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#search-form {
  bottom: 8px;
  position: relative;
  z-index: -2;
}

i.fas.fa-search {
  left: 68px;
  position: relative;
  z-index: 999;
}

/* Estilos para la creación de producto */

.Create-product-container {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
}

.Create-product-container-divs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.Create-product-container-divs div { 
  display: flex;
  flex: 1 1 300px;
  flex-direction: column; 
}

.Create-product-container-divs label { 
  font-weight: bold;
  margin-bottom: 5px; 
}

.Create-product-container-inputs { 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 1rem;
    padding: 10px; 
    transition: border-color 0.3s; 
}

.Create-product-containerbutton {
  background-color: black; 
  border: none; 
  border-radius: 4px; 
  color: white;
  cursor: pointer; 
  font-size: 16px; 
  padding: 10px 15px;
  transition: background-color 0.3s; 
  width: 100%; 
}

.Create-product-containerbutton:hover {
  background-color: grey; 
}

.Create-product-container-inputs-error {
  color: red;
  font-size: 0.9em;
}

/* Estilos para el contador de productos en el carrito */
.cart-count {
  background-color: rgb(240 28 28); 
  border-radius: 50%; 
  color: white; 
  font-size: 14px; 
  margin-left: 5px; 
  padding: 5px 10px; 
  position: absolute; 
}

/* BUTTONS */

button {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 8px;
  height: 48px!important;
  justify-content: center;
  padding: 8px 16px!important;
}

/* Primary Button */
button.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
  font-family: Quicksand;
}

button.btn-primary:hover {
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
}

button.btn-primary:active {
  background-color: var(--primary-active);
  border-color: var(--primary-active);
}

button.btn-primary:focus {
  border-color: var(--primary-focus);
}

button.btn-primary:disabled, 
button.btn-primary.disabled {
  background-color: var(--primary-disabled-bg);
  border-color: var(--primary-disabled-bg);
  color: var(--primary-disabled-text);
}

/* Secondary Button */
button.btn-secondary {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: white;
  font-family: Quicksand;
}

button.btn-secondary:hover {
  background-color: var(--secondary-hover);
  border-color: var(--secondary-hover);
}

button.btn-secondary:active {
  background-color: var(--secondary-active);
  border-color: var(--secondary-active);
}

button.btn-secondary:focus {
  border-color: var(--secondary-focus);
  box-shadow: 0 0 0 0.25rem rgb(20 108 74 / 25%); /* Adaptar al color del focus */
}

button.btn-secondary:disabled, 
button.btn-secondary.disabled {
  background-color: var(--primary-disabled-bg);
  border-color: var(--primary-disabled-bg);
  color: var(--primary-disabled-text);
}

/* Tertiary Button (Outline) */
button.btn-outline-primary {
  background-color: transparent;
  border-color: var(--tertiary-color);
  color: var(--tertiary-color);
}

button.btn-outline-primary:hover {
  border-color: var(--tertiary-color);
  color: #FFF!important;
}

button.btn-outline-primary:active {
  background-color: var(--tertiary-active-bg);
  color: #FFF!important;
}

button.btn-outline-primary:focus {
  border-color: var(--primary-focus);
}

button.btn-outline-primary:disabled, 
button.btn-outline-primary.disabled {
  background-color: var(--tertiary-disabled-bg);
  border-color: var(--tertiary-disabled-border);
  color: var(--primary-disabled-text);
}

/* Orange Button */
button.btn-orange {
  background-color: var(--orange-color);
  border-color: var(--orange-color);
  color: white;
}

button.btn-orange:hover {
  background-color: var(--orange-hover);
  border-color: var(--orange-hover);
}

button.btn-orange:active {
  background-color: var(--orange-active);
  border-color: var(--orange-active);
}

button.btn-orange:focus {
  border-color: var(--orange-hover);
  box-shadow: 0 0 0 0.25rem rgb(227 142 36 / 25%); /* Adaptar al color del focus */
}

button.btn-orange:disabled, 
button.btn-orange.disabled {
  background-color: var(--primary-disabled-bg);
  border-color: var(--primary-disabled-bg);
  color: var(--primary-disabled-text);
}

.icon-white { 
  color: white;
  font-family: 'Material Symbols Outlined'; 
  font-size: 30px;
  font-variation-settings: 'FILL' 1; 
}

/* Banner Home */

.home-banner,
.additional-banner { 
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Home Banner */
.home-banner {
  background-image: url('/src/assets/001_Plantai_Home_Featured.webp'); 
  border-radius: 10px;
  box-shadow: 0 5px 8px rgb(0 0 0 / 20%); 
  height: 614px;
  margin-top: 150px;
}

.home-banner-uno {
  background-image: url('/src/assets/BANNER2.png'); 
  height: 240px;
  margin: 40px 0; 
}

.home-banner-dos {
  background-image: url('/src/assets/BANNER1.png'); 
  height: 240px; 
}

.home-banner,
.home-banner-uno,
.home-banner-dos {
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
}

@media (321px <= width <= 576px) {
  .container {
    width: 100%;
    max-width: 576px;
  }
 
  .home-banner {
    width: 60%;
    height: 248px;
    display: flex;
    background-size: cover;
    margin: 120px auto 20px;
  }

  .home-banner-uno,
  .home-banner-dos {
    width: 60%;
    height: 80px;
    display: flex;
    background-size: cover;
    margin: 20px auto 0;
  }

 }

/* Tabs */

.tab-panel{
  background-color: white;
}

.custom-tabs .nav-link {
  background-color: white; 
  border: 1px solid transparent!important;
  color: #879DA5!important;
  font-size: 18px!important; 
  transition: all 0.3s ease-in-out;
}

.custom-tabs .nav-link.active {
  background-color: #F5F5F5!important; 
  border-color: #F5F5F5!important; 
  color: #1A4756!important;
  cursor: pointer; 
  text-decoration: underline;
}

ul.custom-tabs.mb-3.nav.nav-tabs {
  border: none;
  bottom: 3.98rem;
  position: relative;
  z-index: 1;
  left: -1rem;
}

/* Estilo para filas impares y pares */
.table-custom tbody tr:nth-child(odd) {
  background-color: #FFF; /* Color para filas impares */
}

.table-custom tbody tr:nth-child(even) {
  background-color: #BBB; /* Color para filas pares */
}

/* Estilo para la fila seleccionada */
.table-custom tbody tr.selected {
  background-color: #6F8F75 !important; /* Color para la fila seleccionada */
}

.table-hover > tbody > tr:hover > * {
  background-color: var(--custom-table-hover-bg, #6F8F75); 

}

/* Clases para aplicar estilos de texto */
.text-xxl-medium {
  font-size: var(--font-xxl-medium);
  line-height: var(--line-height-xxl-medium);
}

.text-xl-medium {
  font-size: var(--font-xl-medium);
  line-height: var(--line-height-xl-medium);
  color: #1A4756;
}

.text-l-medium {
  font-size: var(--font-l-medium);
  line-height: var(--line-height-l-medium);
  color: #1A4756;
}

.text-m-medium {
  font-size: var(--font-m-medium);
  line-height: var(--line-height-m-medium);
  color: #1A4756;
}

.text-m-bold {
  font-size: var(--font-m-bold);
  font-weight: bold;
  line-height: var(--line-height-m-bold);
  color: #1A4756;
}

.text-text1-regular {
  font-size: var(--font-text1-regular);
  line-height: var(--line-height-text1-regular);
}

.text-text2-medium {
  font-size: var(--font-text2-medium);
  font-weight: 500;
  line-height: var(--line-height-text2-medium);
}

.text-text2-bold {
  font-size: var(--font-text2-bold);
  font-weight: bold;
  line-height: var(--line-height-text2-bold);
}

.text-text3-regular {
  font-size: var(--font-text3-regular);
  line-height: var(--line-height-text3-regular);
}

.text-text3-semibold {
  font-size: var(--font-text3-semibold);
  font-weight: 600;
  line-height: var(--line-height-text3-semibold);
}

.text-text4-xxs-regular {
  font-size: var(--font-text4-xxs-regular);
  line-height: var(--line-height-text4-xxs-regular);
}

.text-text4-xxs-medium {
  font-size: var(--font-text4-xxs-medium);
  font-weight: 500;
  line-height: var(--line-height-text4-xxs-medium);
}
