.login-container {
  margin: 190px auto 100px;
}

.login-card {
  padding: 34px 24px 0 24px;
  border: 1px solid #E5E7EB;
  border-radius: 8px;
  margin: 0 20px;
}

.login-title {
  font-size: 30px;
  font-weight: 500;
  color: #1A4756;
  text-align: center;
  margin-top: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 30px 5px;
}

input.form-control {
  border-radius: 8px;
  background: var(--Surface-light, #F8FAFC)!important;
}

.form-label {
  font-size: 18px;
  font-weight: 500;
  color: #4B5563;
  margin-bottom: 8px;
}

.form-control {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
  margin-bottom: 16px!important;
  font-size: 14px;
}

.form-control::placeholder {
  color: #9CA3AF;
}

.forgot-password {
  text-align: center;
  color: #1A4756;
  font-size: 14px;
  text-decoration: none;
  display: block;
}

.forgot-password:hover {
  text-decoration: underline;
}

.botones-login {
  display: flex;
  width: 230px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.btn-registrar{
  font-size: 1rem;
  padding: 10px 55px !important;
  color: #1A4756!important;
  background-color: white!important;
  border-color: #1A4756;
}