.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 160px;
  background-color: #f9f9f9;
  margin-bottom: 4rem;
}

.login-card {
  width: 440px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #C7CCC7;
  background-color: #FFF;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.login-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
}

.login-title {
  text-align: center;
  color: #1A4756;
  font-size: 30px;
  font-weight: 500;
  line-height: 52px;
  margin-bottom: 24px;
}

.login-form {
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 24px;
}

.form-label {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #000;
  margin-bottom: 8px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #BBB;
  background-color: #FFF;
}

.buttons-container {
  display: flex;
  width: 230px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 24px auto 0;
}

.login-button {
  width: 100%;
  height: 48px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #1A4756 !important;
  border: none;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}

.login-button:hover {
  background-color: #153945 !important;
}

.register-link {
  width: 100%;
  text-decoration: none;
}

.register-button {
  width: 100%;
  height: 48px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #1A4756;
  background-color: transparent;
  color: #1A4756;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
}

.forgot-password-link {
  text-decoration: none;
}

.forgot-password-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #1A4756;
  text-align: center;
  margin: 0;
}

.invalid-feedback {
  color: #dc3545;
  font-size: 14px;
  margin-top: 4px;
}