@media (min-width: 768px) {
    .col-md-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }
}
.product-management-container {
    margin-top: 10rem;
    padding: 16px;
    background: #f5f5f5;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}