.product-title {
    font-size: var(--font-l-medium); 
    margin-bottom: 10px;
  }
  
  /* Precio grande */
  .product-price {
    font-size: var(--line-height-text2-medium);
    color: var(--main-bg-color);
  }
  
  /* Descripción */
  .product-description {
    font-size: var( --font-text4-s-regular);
    color: var(--main-bg-color);
    margin-top: 5px;
  }

  .ref {
    font-size: 0.8rem;

  }
  
  /* Botones de cantidad */
  .quantity-controls {
    gap: 0;
    margin-top: 10px;
  }
  
  /* Botones principales */
  .btn-primary {
    font-size: 1rem;
    padding: 10px 20px;
  }
  
  /* Botón para agregar al carrito */
  .btn-tertiary {
    font-size: 1rem;
    padding: 10px 20px;
  }
  
  /* Características */
  .product-details {
    font-size: 1rem;
    color: #7f8c8d;
    margin-top: 20px;
  }
  
  .product-details p {
    margin: 5px 0;
    color: #555555;
  }  

  .rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }

  #textcolorinput {
    color: black;
  }


  #product-icons .material-symbols-outlined {
    color: var(--main-bg-color);
  }

input[type="checkbox"]:checked {
  background-color: var(--main-bg-color); 
  border-color: var(--main-bg-color); 
}
.card-img-top {
  object-fit: cover;
  height: 100%;      
}

.contenedorsupremo {
  margin-top: 8%;
  margin-left: 10rem;
}

button.btn-circle {
  width: 32px;
  height: 32px!important;
  border-radius: 50%;
  background-color: #1A4756;
  color: white!important;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button.btn-circle:hover {
  background-color: #153a47;
}

button.btn-circle:disabled {
  background-color: #9CA3AF;
  cursor: not-allowed;
}