@media (width >= 768px) {
    .col-md-10 {
        flex: 0 0 auto;
        width: 83.3333%;
    }
}

.product-management-container {
    background: #f5f5f5;
    border-radius: 0 0 8px 8px;
    margin-bottom: 6rem;
    margin-top: 1rem;
    padding: 16px;
}

.botonbuscador {
    height: 40px;
}