.productotitle {
  font-size: var(--font-l-medium);
  margin-bottom: 10px;
  font-family: var(--font-family-primary);
  color: #0D270D;
}

.productodescription {
  font-size: var(--font-text2-medium);
  padding-bottom: 1px;
}

/* Precio grande */
.product-price {
  font-size: var(--line-height-text2-medium);
  color: var(--main-bg-color);
}

.priceandbuttonsmargin {
  padding-left: 15px;
  padding-bottom: 7px;
}

.ref {
  font-size: 0.8rem;
  padding-top: 7px;
}

.textcantidad {
  color: #0D270D;
  padding-right: 20px;
  font-size: var(--font-text2-medium);
}
/* Botones de cantidad */
.quantity-controls {
  gap: 0;
  margin-top: 10px;
}

/* Botón para agregar al carrito */
.btn-tertiary {
  font-size: 1rem;
  padding: 10px 20px;
}

/* Características */
.productodetails {
  color: #7f8c8d;
  text-decoration: line-through;
  position: relative;
  display: flex;
}

.product-details p {
  margin: 5px 0;
  color: #555555;
}

.rotate-180 {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

#textcolorinput {
  color: black;
}


#product-icons .material-symbols-outlined {
  color: var(--main-bg-color);
}

input[type="checkbox"]:checked {
  background-color: var(--main-bg-color);
  border-color: var(--main-bg-color);
}

.card-img-top {
  object-fit: cover;
  height: 100%;
}

.contenedorsupremo {
  margin-top: 8%;
}

/* Estilo para las miniaturas */
.thumbnail-img {
  cursor: pointer;
  height: auto;
  margin: 0.4rem;
  border-radius: 1.2rem;
  max-height: 128px;
  object-fit: contain;
}

/* Estilo para la imagen principal */
.main-image {
  width: 100%;
  max-width: 533px;
  height: auto;
  max-height: 608px;
  border-radius: 1.2rem;
}