.search-bar {
  position: relative;
  width: 100%;
  max-width: 800px; 
  margin: 0 auto; 
  box-sizing: border-box; 
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #1A4756;
  z-index: 2;
}

.search-input {
  width: 100%; 
  padding: 12px 45px 12px 40px; 
  border-radius: 8px;
  border: 1px solid #ddd; 
  font-size: 16px;
  outline: none;
  height: 40px;
  box-sizing: border-box;
}

.suggestions-list {
  position: absolute;
  top: 100%; 
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 10;
  max-height: 150px;
  overflow-y: auto;
  width: 100%; 
  box-sizing: border-box;
}

.suggestion-item {
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  color: #333;

  text-align: left;
}

.suggestion-item:last-child {
  border-bottom: none;
}

.suggestion-item:hover {
  background-color: #f8f8f8;
}
