.fontcolor {
    color: var( --main-bg-color);
}

.fontfilters {
    font-weight: bold;
    margin-top: 5px;
  }

  /* Estilo para el track del rango (parte inactiva) */
input[type="range"].form-range {
    appearance: none;
    background: #ddd;  
    border-radius: 5px;
    height: 8px;
    outline: none;
    transition: background 0.3s;
    width: 100%;
  }
  
  /* Estilo para el círculo del rango (thumb/puntero) */
  input[type="range"].form-range::-webkit-slider-thumb {
    appearance: none;
    background: var(--main-bg-color);  
    border-radius: 50%;
    cursor: pointer;
  }

  .sidebar-filters .form-check-input:checked {
    background-color: var(--main-bg-color);  /* Fondo verde cuando está marcado */
  }

.container-sidebarfilterbutton{
  display: flex;
  justify-content: flex-end;
}

.sidebarfilterbutton1 {
  background-color: white;
  color:  var(--primary-color);
  font-size: medium;
  text-decoration: underline;
  border: none;
  padding: 0 !important;
  font-family: QuickSand, sans-serif;
}
  