/* Estilo para la caja del select */
.custom-select-container {
  position: relative;
  width: 200px;
}

/* Estilo para el select */
.custom-select {
  appearance: none;
  border: none;
  margin-right: 30px;
  outline: none;
}

/* Estilo para la flecha del select */
.custom-arrow { 
  color: #1A4756;
  font-size: 32px; 
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-70%);
  transition: transform 0.3s ease;
}

/* Rotar la flecha cuando hay un valor seleccionado */
.custom-arrow.rotate {
  transform: translateY(-70%) rotate(180deg);
}

/* Color de texto de los elementos */
.colorlet {
  color: var(--main-bg-color);
}

/* Título en la parte superior de la página */
.titulopagecatalog {
  font-size: var(--font-xl-medium);
}