.user-creation-container {
  background: #fff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-top: -4rem;
  padding: 20px;
}

.user-creation-form {
  background-color: white;
  border: none;
  border-radius: 8px;
  box-shadow: none;
  padding: 0;
  width: 700px;
}

.form-title {
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.form-subtitle {
  color: #1A4756;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}

.section-title {
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 40px;
}

.section-title-shipping {
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 50px;
}

.form-label {
  font-weight: bold;
}

.form-control-custom {
  background: #F8FAFC;
  border-radius: 8px;
  height: 35px;
}

.form-select-custom {
  background: #F8FAFC;
  border-radius: 8px;
  height: 40px;
  text-align: center;
}

.date-input {
  background: #F8FAFC;
  border-radius: 8px;
  color: #555;
  height: 35px;
  padding: 10px;
  width: 95%;
}

.region-select {
  appearance: none;
  background: #F8FAFC;
  border: 1px solid #CCC;
  border-radius: 8px;
  box-sizing: border-box;
  color: #555;
  cursor: pointer;
  font-size: 15px;
  height: 42px;
  padding: 10px;
  width: 95%;
}

.button-container {
  margin-top: 1rem;
}

.error {
  color: red;
  font-size: 0.9em;
}