.user-greeting {
    align-items: center;
    display: flex;
    gap: 18px;
    justify-content: flex-end;
    margin-left: 184px;
    margin-top: 140px;
  }
  
  .user-greeting__avatar {
    border-radius: 50%;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    height: 64px;
    object-fit: cover;
    width: 64px;
  }
  
  .user-greeting__text {
    color: #1a4756;
    font-family: Quicksand, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 52px;
    margin: 0;
  }  