:root, [data-bs-theme="light"]  {
  /* Breakpoints */
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

  /* Tipografías */
  --font-family-primary: 'Quicksand', sans-serif;
  --font-family-secondary: 'Inter', sans-serif;

  /* Tamaños y estilos de texto */
  --font-xxl-medium: 60px; 
  --line-height-xxl-medium: 52px;
  --font-xl-medium: 48px; 
  --line-height-xl-medium: 52px;
  --font-l-medium: 40px; 
  --line-height-l-medium: 52px;
  --font-m-medium: 30px; 
  --line-height-m-medium: 52px;
  --font-m-bold: 30px; 
  --line-height-m-bold: 52px;
  --font-text1-regular: 24px; 
  --line-height-text1-regular: 30px;
  --font-text2-medium: 18px; 
  --line-height-text2-medium: 22px;
  --font-text2-bold: 18px; 
  --line-height-text2-bold: 22px;
  --font-text3-regular: 14px; 
  --line-height-text3-regular: 13px;
  --font-text3-semibold: 14px; 
  --line-height-text3-semibold: 13px;
  --font-text4-xxs-regular: 12px; 
  --line-height-text4-xxs-regular: 15px;
  --font-text4-xxs-medium: 12px; 
  --line-height-text4-xxs-medium: 15px;
  --heading-color:var(--tertiary-color);

/* Kit Botones */
--primary-color: #1A4756!important;
--primary-hover: #007b94;
--primary-active: #004251;
--primary-focus: #007b94;
--primary-disabled-bg: #e1e6ea;
--primary-disabled-text: #8b9499;
--secondary-color: #0c4a33;
--secondary-hover: #146c4a;
--secondary-active: #083021;
--secondary-focus: #146c4a;
--tertiary-color: #005b73!important;
--tertiary-hover-bg: #eef6f8;
--tertiary-active-bg: #d4ebf2;
--tertiary-disabled-bg: transparent;
--tertiary-disabled-border: #e1e6ea;
--orange-color: #d97706;
--orange-hover: #e38e24;
--orange-active: #b56204;
--gray-color: #6c757d;
--gray-hover: #8a99a3;
--gray-active: #5a6268;

/* Tamaños responsivos */
--button-small: 12px;
--button-medium: 14px;
--button-large: 16px;

/* Header y Footer */
--main-bg-color: #1A4756;
--bs-navbar-color: #fff;
--bs-navbar-active-color: #fff;
--font-footer-title: 24px;

/* Accordion */

--bs-accordion-active-bg: #1a4756;
--bs-accordion-active-color: white;
--bs-accordion-btn-color: white;
--bs-accordion-border-color: transparent;
--bs-accordion-bg: #1a4756!important;
--bs-accordion-btn-bg:#fff!important;
}