.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f9f9f9; 
  }
  
  .login-form {
    background-color: white; 
    padding: 30px; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    width: 300px;
  }
  
  .login-form h2 {
    text-align: center; 
  }
  
  .login-form div {
    margin-bottom: 15px; 
  }
  
  .login-form label {
    display: block; 
    margin-bottom: 5px; 
  }
  
  .login-form input {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
  }
  
  .login-form button {
    width: 100%; 
    padding: 10px; 
    background-color: #353535; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
  }
  
  .login-form button:hover {
    background-color: #8d8d8d; 
  }
  
  p {
    text-align: center; 
    margin-top: 15px; 
  }

  .relative-top {
    position: relative;
    top: 3rem;
  }
  