.user-creation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .user-creation-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .user-creation-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .user-creation-form div {
    margin-bottom: 15px;
  }
  
  .user-creation-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .user-creation-form-input {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    font-size: 1rem; 
  }
  
  .user-creation-form button {
    width: 100%;
    padding: 10px;
    background-color: #353535;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .user-creation-form button:hover {
    background-color: #8d8d8d; 
  }
  
  .error {
    color: red;
    font-size: 0.9em;
  }
  
  